/* TrustBadges.css */
.trust-badges-container {
  text-align: center;
  padding: 10px;
}

.trust-badges-container img {
  max-width: 100%;
  height: auto;
  width: 50%;
  max-width: 30rem; /* Default size for larger screens */
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .trust-badges-container img {
    width: 70%; /* Increased size for medium screens */
    margin-top: 15px; /* Reduced margin-top for medium screens */
  }
}

@media screen and (max-width: 480px) {
  .trust-badges-container img {
    width: 70%;
    margin-top: 10px; /* Further reduced margin-top for small screens */
  }
}
