/* TrustBadges.css */
.trust-badges-container {
  text-align: center;
  padding: 10px;
}

.trust-badges-container img {
  max-width: 100%;
  height: auto;
  width: 40%;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .trust-badges-container img {
    margin-top: 10px; /* Reduced margin-top for medium screens */
  }
}

@media screen and (max-width: 480px) {
  .trust-badges-container img {
    margin-top: 20px; /* Further reduced margin-top for small screens */
  }
}
