.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favorites-heading {
  text-align: center;
  margin: 20px 0;
  margin-top: 40px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 16rem;
}

.product-link {
  color: black;
  text-decoration: none;
}

.favorite-images {
  max-width: 100%;
  height: 300px;
}

