.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-box { /* This class adds the box around each cart item */
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 1rem;
    padding: 2rem; /* Add padding inside the box */
    border: 3px solid #4CAF50; /* Add a border around the box */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
    margin-bottom: 2rem; /* Spacing between cart items */
    background-color: #D2B48C; /* Optional: set background color */
    width: 50rem;
   
}

.cart-item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1; /*study this */
}

.cart-item-box img {
    max-height: 6rem;
    object-fit: cover;
    min-width: 80px; /* Ensure the image doesn't stretch */
}

.dropdown {
   height: 30px; 
}

.cart-container li {
    list-style-type: none;
}

.delete-button {
    padding: 10px 25px;
    font-size: 1rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media(min-width: 1250px) {
    .cart-item-box {
        width: 73rem;      
    }

    .cart-item-details {
        gap: 100px;
    }
}

@media(max-width: 870px) {
    .cart-item-box {
        width: 32rem;
    }

    .cart-item-details {
        gap: 1rem;
    }

}

/* Subtotal Section */

.checkout-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem; /* Add space between subtotal and button */
}

.subtotal {
    margin-top: 20px;
    text-align: center;
    color: #4CAF50;
    border: 3px solid #4CAF50;
    background-color: #D2B48C;
    padding: 10px 20px; /* Optional padding for better appearance */
    border-radius: 8px; /* Optional rounded corners */
}

.checkout-button {
    padding: 10px 25px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


