/* Banner.css */

/* Banner.css */

.banner-image {
  position: relative;
  height: 400px;
  background-image: url('../src/assets/Plantbanner.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.banner-text {
  text-align: center;
  color: black;
  margin-top: 20px;
}

.banner-text h1 {
  font-size: 24px;
}

.shopNowButton {
  display: block;
  margin: 20px auto;
  background-color: #4CAF50 !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.shopNowButton:hover {
  background-color: #45a049;
}


@media screen and (max-width: 768px) {
  .banner-image {
    height: 300px;
  }

  .banner-text, .shopNowButton {
    color: black;
    position: static;
    top: unset;
    left: unset;
    transform: none;
    margin: 10px auto;
    width: 90%;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 20px;
  }

  .shopNowButton {
    font-size: 16px;
    padding: 10px 20px;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .banner-image {
    height: 200px;
  }

  .banner-text, .shopNowButton {
    font-size: 18px;
  }

  .shopNowButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
