/* Banner.css */

/* Banner.css */

.banner-image {
  position: relative;
  height: 400px;
  background-image: url('src/assets/Plantbanner.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.banner-text {
  text-align: center;
  color: black;
  margin-top: 20px; /* Adjust as necessary */
}

.banner-text h1 {
  font-size: 24px;
}

.shopNowButton {
  display: block; /* Makes the button a block element */
  margin: 20px auto; /* Centers the button and adds margin */
  background-color: #4CAF50 !important; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a hand icon when hovering */
  font-size: 16px; /* Example font size, adjust as needed */
}

.shopNowButton:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

/* Remove the media queries since they are no longer needed */


/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
  .banner-image {
    height: 300px;
  }

  .banner-text, .shopNowButton {
    color: black;
    position: static; /* Change to static positioning */
    top: unset;
    left: unset;
    transform: none;
    margin: 10px auto; /* Add some margin */
    width: 90%; /* Set a width */
    text-align: center;
  }

  .banner-text h1 {
    font-size: 20px; /* Adjust the font size */
  }

  .shopNowButton {
    font-size: 16px; /* Adjust button font size */
    padding: 10px 20px; /* Adjust button padding */
    width: auto; /* Adjust button width */
  }
}

@media screen and (max-width: 480px) {
  .banner-image {
    height: 200px; /* Adjust the height for smaller screens */
  }

  .banner-text, .shopNowButton {
    font-size: 18px; /* Adjust the font size for banner text */
  }

  .shopNowButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
