/* Banner.css */

.banner-image {
  position: relative;
  height: 400px;
  background-image: url('src/assets/Plantbanner.png');
  background-size: cover;  /* Ensures the background image covers the entire container */
  background-position: center;
  width: 100%;  /* Set width to 100% to make the image responsive */
}

/* Existing CSS for larger screens */

.banner-text {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-text h1 {
  font-size: 24px;
}

.shopNowButton {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translateX(-50%);
}

/* Media Queries for smaller screens */

@media screen and (max-width: 768px) {
  .banner-image {
    height: 300px;
  }

  .banner-text, .shopNowButton {
    color: black;
    position: static; /* Change to static positioning */
    top: unset;
    left: unset;
    transform: none;
    margin: 10px auto; /* Add some margin */
    width: 90%; /* Set a width */
    text-align: center;
  }

  .banner-text h1 {
    font-size: 20px; /* Adjust the font size */
  }

  .shopNowButton {
    font-size: 16px; /* Adjust button font size */
    padding: 10px 20px; /* Adjust button padding */
    width: auto; /* Adjust button width */
  }
}

@media screen and (max-width: 480px) {
  .banner-image {
    height: 200px; /* Adjust the height for smaller screens */
  }

  .banner-text, .shopNowButton {
    /* Further adjustments for smaller screens, if necessary */
    font-size: 18px; /* Adjust the font size for banner text */
  }

  .shopNowButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
